/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
	font-family: BeniBolt;
	src: url(BeniBold.ttf);
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/


header {
    background-color: #410c00;
	color: #eee;
	list-style: none;
}

h1 {
	font-family: BeniBolt;
}

h2 {
	font-family: BeniBolt;
}

nav {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-family: BeniBolt;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
}
