/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*Bron: https://www.youtube.com/watch?v=AAU25Fo4bFY (Custom fonts)*/


@font-face {
	font-family: BeniBolt;
	src: url(BeniBold.ttf);
}

@font-face {
	font-family: Ffmark;
	src: url(FF\ Mark-Bold.otf);
}


/*********************/
/* CUSTOM PROPERTIES */
/*Bron: https://www.youtube.com/watch?v=XGKj4HtIcGo (custom properties)*/
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:#410c00;
	--color-button:#210082;
	--color-background2:black;
	--color-button2:#ffd166;
	--color-basebackground:white;
	--color-text2:black;
	--color-basebackground3:white;

	--colordarkmode-text:white;
	--colordarkmode-background:#353535;
	--colordarkmode-button:darkgrey;
	--colordarkmode-background2:#353535;
	--colordarkmode-button2:#410c00;
	--colordarkmode-basebackground: #353535;
	--colordarkmode-text2:white;
	--colordarkmode-basebackground3:#410c00;

}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: var(--colordarkmode-text);
		--color-background: var(--colordarkmode-background);
		--color-button: var(--colordarkmode-button);
		--color-background2: var(--colordarkmode-background2);
		--color-button2: var(--colordarkmode-button2);
		--color-text2: var(--colordarkmode-text2);
		--color-basebackground: var(--colordarkmode-basebackground);
		--color-basebackground3:var(--colordarkmode-basebackground3);
	}
}





/****************/
/* JOUW STYLING */
/****************/

/* Main */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header */

header {
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

header nav {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items:center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}

/*Bron: https://www.youtube.com/watch?v=dMxOojFq2ho&t=69s (nth of type)
*/


header nav img:nth-of-type(1) {
	width: 100px;
	height: 100px;
	margin: 20px;
}



header nav img:nth-of-type(2) {
	width: 3em;
	height: 3em;
	margin: 20px;    
}

header ul {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

header li {
	list-style: none;
}

header li a {
	text-decoration: none;
	color: var(--color-text);
	font-weight: bold;
	transition: 0.3s;
}

header ul li a:hover{
	color: var(--color-button2);
}


@media (max-width: 768px) {}






/* Footer eerste sectie met snickers logo en kleine navigatie */
/*Bron: https://www.youtube.com/watch?v=Nef3xAYhquE (Bijleren van de basis)*/

footer section:nth-of-type(1) {
	background-image: none;
	width: 100%;
    background-color: var(--color-button2);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
	display: flex;
	flex-direction: column;
}

footer section:nth-of-type(1) ul li img {
	width: 4em;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
}

footer section:nth-of-type(1) ul {
	margin-left: 1em;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	list-style: none;
}

footer section:nth-of-type(1) li {
	margin: 0.5em;
	font-weight: bold;
}

/*Bron: https://www.youtube.com/watch?v=n9yI6fjkrfE & tijdens feedback gesprek (media queries)*/
/*Bron: https://www.w3schools.com/css/css_grid.asp & https://www.youtube.com/watch?v=3T0gjtXRNC0 (grids in css responsive maken) (grid layout guide) & tijdens feedback gesprek*/


@media (width > 700px) {
	footer section:nth-of-type(1) ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

		footer section:nth-of-type(1) li{
		font-size: 1.2em;
		margin-top: 2em;
	}

	footer section:nth-of-type(1) ul li img {
		width: 40%;
		padding-bottom: 1em;
		position: start;
}

}

/* Footer 2e sectie met social media links */


footer section:nth-of-type(2) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

footer section:nth-of-type(2) p {
	margin-left: 2em;
	padding-top: 2em;
}

footer section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
    color: var(--color-text2);
	list-style: none;
	margin-left: 1em;
}

footer section:nth-of-type(2) li {
    margin: 0.8em;
}






/* Footer derde sectie met grote navigatie */
footer section:nth-of-type(3) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

footer section:nth-of-type(3) nav{
	display: flex;
	flex-direction: column;
}

footer section:nth-of-type(3) ul {
	display: grid;
    grid-template-columns:1fr 1fr ;
	font-weight: bold;
	list-style: none;
    padding-bottom: 1em;
	padding-left: 1em;
}

footer section:nth-of-type(3) li{
	font-size: 15px;
	margin: 1em;
	text-align: left;
}

/* Footer 4e sectie met eindtekst */

footer section:nth-of-type(4) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 15px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
	display: flex;
	flex-direction: column;
	
}

footer section:nth-of-type(4) p {
    font-size: 15px;
	margin-left: 5%;
	margin-right: 10%;
	text-align: left;
}

footer button {
	width: 8em;
	height: 3em;
	font:inherit;
	font-size: 14px;
	appearance: none;
	border: none;
	background-image:linear-gradient(45deg, var(--color-text) 50%, var(--color-background) 50%);
	background-size:250% 100%;
	background-position:right;
	color: white;
	border-radius: 1000em;
	padding: 0.8em 0.8em 0.8em;
	transition: 0.5s;
	text-transform: uppercase;
	outline-style:groove;
	margin-left: 5%;
	margin-top: 1em;
	margin-bottom: 5em;
}

footer  button:hover {
	cursor: pointer;
	color: var(--color-text);
	background-position:left;
}

footer a {
	font-family: "BeniBolt" ;
	font-size: 2.2em;
	margin-left: 5%;
	margin-top: 1em;
	text-align: left;
}

footer p:nth-of-type(3) {
	margin-top: 2em;
	text-align: left;
}


/* Button animatie en opmaak */

button {
	width: 8em;
	height: 4em;
	font:inherit;
	font-size: 14px;
	appearance: none;
	border: none;
	background-image:linear-gradient(45deg, var(--color-text) 50%, var(--color-button) 50%);
	background-size:250% 100%;
	background-position:right;
	color: white;
	border-radius: 1000em;
	padding: 0.8em 0.8em 0.8em;
	transition: 0.5s;
	text-transform: uppercase;
}


button:hover {
	cursor: pointer;
	color: var(--color-button);
	background-position:left;
}
