/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}







/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/* Eerste section waar video op de achtergrond speelt */
/*Bron: https://www.youtube.com/watch?v=-unASUgYtVI (Video op de achtergrond afspelen)*/

main section:nth-of-type(1) {
	justify-content: space-between;
	color: var(--color-text);
	background-position: center;
	background-repeat: repeat;
	font-family: "BeniBolt" ;
	position: relative;
	overflow: hidden;
}

main section:nth-of-type(1) p {
	padding-top: 10em;
	margin-bottom: 1em;
    margin-left: 2em;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
}

main section:nth-of-type(1) h1 {
    margin-left: 0.5em;
	padding-bottom: 30px;
	font-size: 48px;
	font-family: "BeniBolt" ;
}

main section:nth-of-type(1) button {
    margin-bottom: 10em;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-left: 1em;
	width: 13em;
}

video {
	position: absolute;
	height: 100%;
	margin-left: 0;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

@media (width > 700px) {
video {
    height: 200%;
	position: absolute;
	z-index: -1;
	margin-bottom: 10em;
}
}


/* 2e section waar het gaat over snickers creamy */
/*Bron: https://www.w3schools.com/css/css_grid.asp (grid layout guide)*/


main section:nth-of-type(2) {
	color: white;
	background-color: var(--color-button2);
	background-position: center;
	background-repeat: no-repeat;
	font-family: "BeniBolt" ;
}

main section:nth-of-type(2) img {
	padding-top: 20%;
	margin-bottom: 15%;
    margin-left: 15%;
	width: 17em;
}

main section:nth-of-type(2) img {
  animation: MoveUp 3s linear infinite;}

@keyframes MoveUp {
    from{transform:translateY(10%)
	}
}



main section:nth-of-type(2) h2 {
    margin-left: 5%;
	margin-right: 10% ;
	padding-bottom: 8%;
	font-size: 1.7em;
	font-family: "Ffmark" ;
	text-transform: uppercase;
}

main section:nth-of-type(2) button {
	    margin-bottom: 40px;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 5%;
}

@media (width > 700px) {
	main section:nth-of-type(2){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		gap: 2em;
		padding-top: 2em;
	}

	main section:nth-of-type(2) img {
		grid-row-start: 1;
		grid-row-end: 3;
		width: 19em;
	}

	main section:nth-of-type(2) h2 {
		align-self: end;
		padding-bottom: 0%;
		margin-bottom: 0%;
		font-size: 2.5em;
	}
}

@media (width > 1000px) {
	main section:nth-of-type(2) h2 {
		font-size: 3em;
	}

	main section:nth-of-type(2) img {
		width: 23em;
	}
}



/* 3e section waar het 3 soorten snickers worden uitgelicht */

main section:nth-of-type(3) {
	width: 100%;
	background-color:var(--color-basebackground3);
	color: var(--color-text2);
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Ffmark" ;
    display:grid;
}


main section:nth-of-type(3) h2 {
	font-family: "BeniBolt" ;
	text-transform: uppercase;
	justify-content: center;
	text-align: center;
	margin-top: 10%;
	font-size: 3em;
	margin-bottom: 1em;

}

main section:nth-of-type(3) button {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
	margin-top: 1em;
	margin-bottom: 2em;
}

main section:nth-of-type(3) ul {
list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

main section:nth-of-type(3) li {
display: flex;
flex-direction: column;
align-items: center;
list-style: none;
font-size: 25px;
text-transform: uppercase;
}

main section:nth-of-type(3) img {
margin-bottom: 1em;
margin-top: 1em;
width: 13em;
}

/* image animatie die in de 4e sectie te vinden is */

main section:nth-of-type(3) img {
	transition:1s;
}

main section:nth-of-type(3) img:hover {

  scale:1.1;
}

/* 4e section waar een image staat afgebeeld */


main section:nth-of-type(4) {
		background-color: var(--color-background);
}
 
main section:nth-of-type(4) img:nth-of-type(1) {
	width: 100%;
	justify-content: space-between;
	align-items: wrap;
	color: white;
	display: block;
}

main section:nth-of-type(4) img:nth-of-type(2) {
	width: 100%;
	justify-content: space-between;
	align-items: wrap;
	color: white;
	display: none;
}

@media (width > 700px) {
	main section:nth-of-type(4) img:nth-of-type(1) {
		display: none;
	}

	main section:nth-of-type(4) img:nth-of-type(2) {
		display: block;
    }
}



/* 5e section waarbij er word gepraat over snickers ice cream */

main section:nth-of-type(5) {
	color: var(--color-text);
	width: 100%;
	font-family: "BeniBolt" ;
	display: flex;
	align-items: center;
	flex-direction: column;
}

main section:nth-of-type(5) p {
	margin-top: 0.5em;;
	padding-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

main section:nth-of-type(5) h3 {
	padding-top: 0.5em;
	font-size: 48px;
	font-family: "BeniBolt" ;
}

main section:nth-of-type(5) button {
    margin-bottom: 4em;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 2em;
	width: 11em;
}

main section:nth-of-type(5) img:nth-of-type(1) {
	position: absolute;
	height: auto;
	z-index: -1;
	background-size: cover;
	display: block;
	max-width: 100%;
}

main section:nth-of-type(5) img:nth-of-type(2) {
	display: none;
}

@media (width > 700px) {
main section:nth-of-type(5) img:nth-of-type(1) {
	display: none;
	}

	main section:nth-of-type(5) img:nth-of-type(2) {
		display: block;
		width: 100%;
		z-index: -1;
		position: absolute;
	}

main section:nth-of-type(5) h3 {
	font-size: 60px;

}
    
}

@media (width > 900px) {
main section:nth-of-type(5) img:nth-of-type(1) {
	display: none;
	}

	main section:nth-of-type(5) img:nth-of-type(2) {
		display: block;
		width: 100%;
		z-index: -1;
		position: absolute;
	}
    
}
