/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*Bron: https://www.youtube.com/watch?v=AAU25Fo4bFY (Custom fonts)*/


@font-face {
	font-family: BeniBolt;
	src: url(BeniBold.ttf);
}

@font-face {
	font-family: Ffmark;
	src: url(FF\ Mark-Bold.otf);
}


/*********************/
/* CUSTOM PROPERTIES */
/*Bron: https://www.youtube.com/watch?v=XGKj4HtIcGo (custom properties)*/
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:#410c00;
	--color-button:#210082;
	--color-background2:black;
	--color-button2:#ffd166;
	--color-basebackground:white;
	--color-text2:black;
	--color-basebackground3:white;
	--color-footerbackground:#ffd166;
	--color-basebackground4: white;

	--colordarkmode-text:white;
	--colordarkmode-background:rgb(27, 27, 27);
	--colordarkmode-button:black;
	--colordarkmode-background2:black;
	--colordarkmode-button2:gray;
	--colordarkmode-basebackground: #353535;
	--colordarkmode-text2:white;
	--colordarkmode-basebackground3:rgb(27, 27, 27);
	--colordarkmode-footerbackground: #353535;
	--colordarkmode-basebackground4: black;

}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: var(--colordarkmode-text);
		--color-background: var(--colordarkmode-background);
		--color-button: var(--colordarkmode-button);
		--color-background2: var(--colordarkmode-background2);
		--color-button2: var(--colordarkmode-button2);
		--color-text2: var(--colordarkmode-text2);
		--color-basebackground: var(--colordarkmode-basebackground);
		--color-basebackground3:var(--colordarkmode-basebackground3);
		--color-footerbackground:var(--colordarkmode-footerbackground);
		--color-basebackground4:var(--colordarkmode-basebackground4);
	}


	/*bron: border styles: https://www.w3schools.com/css/css_border_sides.asp */

	header {
		border-bottom-style: solid;
		border-width: thin;	
	}


}





/****************/
/* JOUW STYLING */
/****************/

/* Main */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header */

header {
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

header nav {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items:center;
	justify-content: space-between;
	position: relative;
}

/*Bron: https://www.youtube.com/watch?v=dMxOojFq2ho&t=69s (nth of type)
*/

@media (width < 900px) {
	header ul:nth-of-type(1){
    display: none;
	}
}

@media (width > 900px) {
	header nav button{
    display: none;
	}
}

header nav img:nth-of-type(1) {
	width: 100px;
	height: 100px;
	margin: 20px;
}

header ul {
	display: flex;
	gap: 30px;
}

header li {
	list-style: none;
}

header li a {
	text-decoration: none;
	color: var(--color-text);
	font-weight: bold;
	transition: 0.3s;
}

header ul li a:hover{
	color: var(--color-button2);
}

/*hamburger menu bron: https://www.youtube.com/watch?v=aNDqzlAKmZc en de les van Sanne*/

header ul:nth-of-type(2){
	background-color:var(--color-background);
	height: 100vh;
	width: 100%;
	max-width: 450px;
	position: fixed;
	top: 0;
	right: -450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: .3s ease;
	z-index: 1;
}

header ul.active{
	right: 0;
}

header button{
	display: grid;
	justify-content: end;
	align-content: center;
	width: 2em;
	font-size: 1em;
	background: none;
	z-index: 1;
	appearance: none;
	border: none;
	aspect-ratio: 1;
    margin-left: 1em;
}

header button span {
display: block;
width: 1.5em;
height: 0.2em;
background-color: var(--color-button2);
border-radius: .1em;
grid-column-start: 1;
grid-row-start: 1;
}

header button span:nth-of-type(1){
	translate: 0 -.5em;
}

header button span:nth-of-type(3){
	translate: 0 .5em;
}







/* Footer eerste sectie met snickers logo en kleine navigatie */
/*Bron: https://www.youtube.com/watch?v=Nef3xAYhquE (Bijleren van de basis)*/

footer section:nth-of-type(1) {
	background-image: none;
	width: 100%;
    background-color: var(--color-footerbackground);
	color: var(--color-text2);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
	display: flex;
	flex-direction: column;
}

footer section:nth-of-type(1) ul li img {
	width: 4em;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
}

footer section:nth-of-type(1) ul {
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
	list-style: none;
}

footer section:nth-of-type(1) li a {
	margin: 0.5em;
	justify-content: center;
	text-align: center;
	list-style: none;
	text-decoration: none;
	color: var(--color-text2);
	font-size: 1.2em;
	margin-left: 1.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Bron: https://www.youtube.com/watch?v=n9yI6fjkrfE & tijdens feedback gesprek (media queries)*/
/*Bron: https://www.w3schools.com/css/css_grid.asp & https://www.youtube.com/watch?v=3T0gjtXRNC0 (grids in css responsive maken) (grid layout guide) & tijdens feedback gesprek*/


@media (width > 880px) {
	footer section:nth-of-type(1) ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

		footer section:nth-of-type(1) li{
		font-size: 1.2em;
		margin-top: 2em;
	}


	footer section:nth-of-type(1) ul li img {
		width: 40%;
		padding-bottom: 1em;
		position: start;
}

    footer section:nth-of-type(3) {
		display: grid;
		grid-template-rows: 1fr;
	}

}

/* Footer 2e sectie met social media links */


footer section:nth-of-type(2) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

footer section:nth-of-type(2) p {
	margin-left: 2em;
	padding-top: 2em;
}

footer section:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
    color: var(--color-text2);
	list-style: none;
	margin-left: 1em;
}

footer section:nth-of-type(2) li {
    margin: 0.8em;
}







/* Footer derde sectie met grote navigatie */
footer section:nth-of-type(3) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

footer section:nth-of-type(3) nav{
	display: flex;
	flex-direction: column;
}

footer section:nth-of-type(3) ul {
	display: grid;
    grid-template-columns:1fr 1fr;
	gap: 1em;
	font-weight: bold;
	list-style: none;
    padding-bottom: 1em;
	padding-left: 2em;
}

footer section:nth-of-type(3) li{
	font-size: 15px;
	text-align: start;
}

footer section:nth-of-type(3) li a {
	list-style: none;
	text-decoration: none;
	color: var(--color-text);
	font-size: 1em;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
}

@media (width > 700px) {
	footer section:nth-of-type(3) ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* Footer 4e sectie met eindtekst */

footer section:nth-of-type(4) {
	background-image: none;
	width: 100%;
    background-color: var(--color-background);
	color: var(--color-text);
	font-size: 15px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-variant-caps: all-petite-caps;
	display: flex;
	flex-direction: column;
}

footer section:nth-of-type(4) p {
    font-size: 15px;
	margin-left: 2.5em;
	margin-right: 10%;
	text-align: left;
}

footer section:nth-of-type(4) p:nth-of-type(4){
	font-size: 1.7em;
	padding-top: 1em;
	margin-left: 1.2em;
}

footer button {
	width: 8em;
	height: 3em;
	font:inherit;
	font-size: 14px;
	appearance: none;
	border: none;
	background-image:linear-gradient(45deg, var(--color-text) 50%, var(--color-background) 50%);
	background-size:250% 100%;
	background-position:right;
	color: white;
	border-radius: 1000em;
	padding: 0.8em 0.8em 0.8em;
	transition: 0.5s;
	text-transform: uppercase;
	outline-style:groove;
	margin-left: 3em;
	margin-top: 1em;
	margin-bottom: 5em;
}

footer  button:hover {
	cursor: pointer;
	color: var(--colordarkmode-basebackground);
	background-position:left;
}

footer a {
	font-family: "BeniBolt" ;
	font-size: 2.2em;
	margin-top: 1em;
	text-align: left;
}

footer a {
	font-family: "BeniBolt" ;
	font-size: 2.2em;
	margin-top: 1em;
	text-align: left;
	text-decoration: none;
	color: var(--color-text);
}

footer p:nth-of-type(3) {
	margin-top: 2em;
	text-align: left;
}


/* Button animatie en opmaak */

main button {
	width: 8em;
	height: 4em;
	font:inherit;
	font-size: 14px;
	appearance: none;
	border: none;
	background-image:linear-gradient(45deg, var(--color-text) 50%, var(--color-button) 50%);
	background-size:250% 100%;
	background-position:right;
	color: white;
	border-radius: 1000em;
	padding: 0.8em 0.8em 0.8em;
	transition: 0.5s;
	text-transform: uppercase;
}


main button:hover {
	cursor: pointer;
	color: var(--color-button);
	background-position:left;
}

