/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

section:nth-of-type(1) {
	background-size: 200px;
	justify-content: space-between;
	align-items: wrap;
	color: white;
	background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDl5YnE2ejJ4YTkxMHY0Zjk0azkwdDIxeGQ1MzEzcmlxcnd5cXQ5dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xXjIVvfvkvqZG/giphy.gif);
	background-position: center;
	background-repeat: repeat;
	font-family: "BeniBolt" ;
}

section:nth-of-type(1) p {
	padding-top: 240px;
	margin-bottom: 30px;
    margin-left: 10px;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
}

section:nth-of-type(1) h1 {
    margin-left: 10px;
	padding-bottom: 30px;
	font-size: 48px;
	font-family: "BeniBolt" ;
}

section:nth-of-type(1) button {
    margin-bottom: 240px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-left: 10px;
}

button {
	width: 130px;
	height: 50px;
	font:inherit;
	font-size: 10px;
	appearance: none;
	border: none;
	background-color: darkblue;
	color: white;
	border-radius: 1000em;
	padding: 0.8em 0.8em 0.8em;
	transition: 0.5s;
	text-transform: uppercase;
}


button:hover {
	cursor: pointer;
	background-color: white;
	color: darkblue;
}


section:nth-of-type(2) {
	color: white;
	background-color: #fdc33e;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "BeniBolt" ;
}

section:nth-of-type(2) img {
	padding-top: 100px;
	margin-bottom: 30px;
    margin-left: 20%;
}

section:nth-of-type(2) h2 {
    margin-left: 10px;
	padding-bottom: 30px;
	font-size: 35px;
	font-family: "Ffmark" ;
	text-transform: uppercase;
}

section:nth-of-type(2) button {
	    margin-bottom: 40px;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 10px;
}

section:nth-of-type(3) {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color:#eee;
	background-position: center;
	background-repeat: no-repeat;
	font-family: "BeniBolt" ;
}

section:nth-of-type(3) img {
	padding-top: 40px;
	margin-bottom: 30px;
    margin-left: 30%;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

section:nth-of-type(3) h2 {
    margin-left: 10px;
	padding-bottom: 30px;
	font-size: 35px;
	font-family: "Ffmark" ;
	text-transform: uppercase;
}

section:nth-of-type(3) button {
	    margin-bottom: 40px;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 10px;
}

section:nth-of-type(4) img {
	width: 100%;
	justify-content: space-between;
	align-items: wrap;
	color: white;
}

section:nth-of-type(5) {
	color: white;
	background-color:#410c00;
	font-family: "BeniBolt" ;
}

section:nth-of-type(5) p {
	padding-top: 50px;
	margin-bottom: 30px;
    margin-left: 10px;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
}

section:nth-of-type(5) h3 {
    margin-left: 10px;
	padding-bottom: 30px;
	font-size: 48px;
	font-family: "BeniBolt" ;
}

section:nth-of-type(5) button {
    margin-bottom: 50px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-left: 10px;
}

