/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* sectie 1 het gedeelte met de motto van snickers */

main section:nth-of-type(1) {
	justify-content: space-between;
	align-items: wrap;
	color: var(--color-text);
	background-position: center;
	background-repeat: repeat;
	font-family: "BeniBolt" ;
}


main section:nth-of-type(1) h1 {
    margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 3em;
	font-family: "BeniBolt" ;
	text-align: center;
	padding-top: 30%;
	padding-bottom: 20%;
}

main section:nth-of-type(1) img:nth-of-type(1) {
position: absolute;
z-index: -1;
width: 100%;
display: block;
}

main section:nth-of-type(1) img:nth-of-type(2) {
position: absolute;
z-index: -1;
width: 100%;
display: none;
}

@media (width > 800px) {
main section:nth-of-type(1) h1 {
	padding-top: 15%;
    padding-bottom: 15%;
	font-size: 4em
}

main section:nth-of-type(1) img:nth-of-type(2) {
position: absolute;
z-index: -1;
width: 100%;
display: block;
}

main section:nth-of-type(1) img:nth-of-type(1) {
position: absolute;
z-index: -1;
height: 100%;
display: none;
}

}


/* 2e section waar het gaat over snickers creamy */

main section:nth-of-type(2) {
	color: var(--color-text);
	background-color: var(--color-footerbackground);
	background-position: center;
	background-repeat: no-repeat;
	font-family: "BeniBolt" ;
}

main section:nth-of-type(2) img {
	padding-top: 20%;
	margin-bottom: 15%;
    margin-left: 15%;
	width: 14em;
}

main section:nth-of-type(2) img {
  animation: MoveUp 3s linear infinite;}

@keyframes MoveUp {
    from{transform:translateY(10%)
	}
}



main section:nth-of-type(2) h2 {
    margin-left: 5%;
	margin-right: 10% ;
	padding-bottom: 8%;
	font-size: 1.7em;
	font-family: "Ffmark" ;
	text-transform: uppercase;
}

main section:nth-of-type(2) button {
	    margin-bottom: 40px;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        margin-left: 5%;
}

@media (width > 700px) {
	main section:nth-of-type(2){
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		gap: 2em;
		padding-top: 2em;
	}

	main section:nth-of-type(2) img {
		grid-row-start: 1;
		grid-row-end: 3;
		width: 19em;
	}

	main section:nth-of-type(2) h2 {
		align-self: end;
		padding-bottom: 0%;
		margin-bottom: 0%;
		font-size: 2.5em;
	}
}

@media (width > 1000px) {
	main section:nth-of-type(2) h2 {
		font-size: 3em;
	}

	main section:nth-of-type(2) img {
		width: 23em;
	}
}











/* 3e section waar het filteren van producten mogelijk is */

main section:nth-of-type(3) {
	width: 100%;
	background-color:var(--color-basebackground4);
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Ffmark" ;
	color: var(--color-text2);
}


main section:nth-of-type(3) h3 {
	font-family: "BeniBolt" ;
	text-transform: uppercase;
	justify-content: center;
	text-align: center;
	padding-top: 5%;
	font-size: 3em;
	margin-bottom: 5%;
}

main section:nth-of-type(3) button {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
	margin-top: 1em;
	margin-bottom: 2em;
	place-items: center;
}

main section:nth-of-type(3) form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	padding-top: 2em;
}

main section:nth-of-type(3) form button {
grid-column: 2;
}


main section:nth-of-type(3) ul {
list-style: none;
margin-left: 2em;
margin-right: 2em;
padding-bottom: 2em;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

main section:nth-of-type(3) li {
align-items: center;
list-style: none;
font-size: 25px;
text-transform: uppercase;
background-color: var(--color-background);
border-radius: 2em;
margin: 1em;
align-content: center;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 0.5fr 0.5fr 0.2fr;
place-items: center;
}


main section:nth-of-type(3) img {
margin-bottom: 0.5em;
margin-top: 0.5em;
margin-left: 1.4em;
margin-right: 1.4em;;
width: 80%;
grid-column-start: 1;
grid-column-end: 3;
}

main section:nth-of-type(3) p {
	font-size: 0.7em;
	width: 80%;
	text-transform: none;
	color: var(--color-text);
	margin-left: 2em;
	margin-right: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
	text-align: center;
}

/* image animatie die in de 4e sectie te vinden is */

#snickerbewegen:hover {
  animation: snickerbewegen 3s ;
  animation-fill-mode: forwards; ;}

@keyframes snickerbewegen {
0% {
    scale:1;
  }
100% {
    scale:1.1;
  }
}

/* 4e section waarbij er word doorgelinkt naar de geschiedenis van Snickers*/

main section:nth-of-type(4) {
	color: var(--color-text);
	width: 100%;
	font-family: "BeniBolt" ;
	display: flex;
	align-items: center;
	flex-direction: column;
}

main section:nth-of-type(4) p {
	padding-top: 0.5em;;
	padding-top: 1em;
	margin-bottom: 0.5em;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

main section:nth-of-type(4) h3 {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-size: 48px;
	font-family: "BeniBolt" ;
}

main section:nth-of-type(4) button {
    margin-bottom: 4em;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 2em;
	width: 13em;
	font-size: 0.6em;
}

main section:nth-of-type(4) img:nth-of-type(1) {
	position: absolute;
	height: auto;
	z-index: -1;
	background-size: cover;
	display: block;
	max-width: 100%;
}

main section:nth-of-type(4) img:nth-of-type(2) {
	display: none;
}

@media (width > 700px) {
main section:nth-of-type(4) img:nth-of-type(1) {
	display: none;
	}

	main section:nth-of-type(4) img:nth-of-type(2) {
		display: block;
		width: 100%;
		z-index: -1;
		position: absolute;
	}

main section:nth-of-type(4) h3 {
	font-size: 60px;

}
    
}

@media (width > 900px) {
main section:nth-of-type(4) img:nth-of-type(1) {
	display: none;
	}

	main section:nth-of-type(4) img:nth-of-type(2) {
		display: block;
		width: 100%;
		z-index: -1;
		position: absolute;
	}
    
}




